<a href="https://colab.research.google.com/github/durgeshgitup/MA22C013_2023_PL/blob/main/Assignments/Assignment_9/Pandas_from_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Convert d0 to a corresponding pandas object pd0.

In [ ]:
import pandas as pd

d0 = {2: 'a', 1: 'b', 3: 'c'}
pd0 = pd.DataFrame(d0, index=[0])
print(pd0)

   2  1  3
0  a  b  c

# 2. Sort indices of pd0.

In [ ]:
pd0 = pd0.sort_index()
print(pd0)

   2  1  3
0  a  b  c

# 3. Convert d1, d2 (together) to a pandas object dd

In [ ]:
import pandas as pd

In [ ]:
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
dd = pd.DataFrame({'d1': d1, 'd2': d2})
print(dd)

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

# 4. Give examples of indexing and slicing on dd

In [ ]:
# Indexing
value_at_a = dd['d1']['a']
print(value_at_a)

1.0

In [ ]:
#Slicing
sliced_rows = dd.loc[['a', 'b']]
print(sliced_rows)

    d1   d2
a  1.0  NaN
b  2.0  3.0

# 5. Give examples of implicit and explicit indexing on dd.

In [ ]:
implicit_indexing = dd.iloc[0]
print(implicit_indexing)

d1    1.0
d2    NaN
Name: a, dtype: float64

In [ ]:
explicit_indexing = dd.loc[:, 'd1']  # Accessing column 'd1'
print(explicit_indexing)

a    1.0
b    2.0
c    NaN
Name: d1, dtype: float64

# 6. Forward fll and backfll missing values using various axis.

In [ ]:
forward_filled = dd.fillna(method='ffill', axis=0)
print(forward_filled)

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  2.0  4.0

In [ ]:
# Backfill (fill NaN values with the next value)
backfilled = dd.fillna(method='bfill', axis=0)
print(backfilled)

    d1   d2
a  1.0  3.0
b  2.0  3.0
c  NaN  4.0